flows _210695U.json
[
    {
        "id": "560e5180a2b6cd09",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2e6f708d0cc1470",
        "type": "mqtt in",
        "z": "560e5180a2b6cd09",
        "name": "",
        "topic": "LIGHT-L",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e76f813d5b7439c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "8db25ba5909d651f"
            ]
        ]
    },
    {
        "id": "8db25ba5909d651f",
        "type": "delay",
        "z": "560e5180a2b6cd09",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "66bf97fd57ed4345"
            ]
        ]
    },
    {
        "id": "66bf97fd57ed4345",
        "type": "function",
        "z": "560e5180a2b6cd09",
        "name": "Left",
        "func": "return {payload: msg.payload,\ntopic:\"Left\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 180,
        "wires": [
            [
                "260681b1c1df1bd4",
                "67c6d86c933cdcb2",
                "b123327741c3e65f"
            ]
        ]
    },
    {
        "id": "55160c8cf73392cc",
        "type": "mqtt in",
        "z": "560e5180a2b6cd09",
        "name": "",
        "topic": "LIGHT-R",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e76f813d5b7439c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "67307bb0bda3f947"
            ]
        ]
    },
    {
        "id": "67307bb0bda3f947",
        "type": "delay",
        "z": "560e5180a2b6cd09",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 260,
        "wires": [
            [
                "932c134b494a5725"
            ]
        ]
    },
    {
        "id": "932c134b494a5725",
        "type": "function",
        "z": "560e5180a2b6cd09",
        "name": "Right",
        "func": "return {payload: msg.payload,\ntopic:\"Right\"\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 260,
        "wires": [
            [
                "260681b1c1df1bd4",
                "67c6d86c933cdcb2",
                "82efe10936a6f69e"
            ]
        ]
    },
    {
        "id": "5a5ce7ad1e060f80",
        "type": "mqtt in",
        "z": "560e5180a2b6cd09",
        "name": "",
        "topic": "TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e76f813d5b7439c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 580,
        "wires": [
            [
                "658250af8b38aa4b"
            ]
        ]
    },
    {
        "id": "b123327741c3e65f",
        "type": "change",
        "z": "560e5180a2b6cd09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ldr_left",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 340,
        "wires": [
            [
                "6a953eff008b34a1"
            ]
        ]
    },
    {
        "id": "82efe10936a6f69e",
        "type": "change",
        "z": "560e5180a2b6cd09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ldr_right",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 400,
        "wires": [
            [
                "6a953eff008b34a1"
            ]
        ]
    },
    {
        "id": "6a953eff008b34a1",
        "type": "function",
        "z": "560e5180a2b6cd09",
        "name": "function 1",
        "func": "let ldr_left = global.get(\"ldr_left\");\nlet ldr_right = global.get(\"ldr_right\");\n\nlet max=ldr_right;\n\nif(ldr_left>max){\n    max=ldr_left;\n}\n\nreturn{\n    payload:max\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "bef95da2e7145510"
            ]
        ]
    },
    {
        "id": "658250af8b38aa4b",
        "type": "delay",
        "z": "560e5180a2b6cd09",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "1fa27afec0ac2cf4",
                "bcae5c855a19339d"
            ]
        ]
    },
    {
        "id": "01a6a59acf61238d",
        "type": "function",
        "z": "560e5180a2b6cd09",
        "name": "function 2",
        "func": "if(msg.payload == \"panadol\"){\n    return{payload:40};\n}\nelse if (msg.payload == \"citrocin\"){\n    return{payload:80};\n}\nelse if (msg.payload == \"metformin\"){\n    return{payload:120};\n}\nelse {\n    return{payload:30};\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 780,
        "wires": [
            [
                "deaec2dfc0d3eab6"
            ]
        ]
    },
    {
        "id": "3a558dd6fe1d08c5",
        "type": "function",
        "z": "560e5180a2b6cd09",
        "name": "function 3",
        "func": "if (msg.payload == \"panadol\") {\n    return { payload: 0.2 };\n}\nelse if (msg.payload == \"citrocin\") {\n    return { payload: 0.4 };\n}\nelse if (msg.payload == \"metformin\") {\n    return { payload: 0.7 };\n}\nelse {\n    return { payload: 0.8 };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 860,
        "wires": [
            [
                "d82aed68833650da"
            ]
        ]
    },
    {
        "id": "cf6bf63ada93308d",
        "type": "mqtt out",
        "z": "560e5180a2b6cd09",
        "name": "",
        "topic": "ADJUSTMENTS_MIN",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e76f813d5b7439c",
        "x": 920,
        "y": 780,
        "wires": []
    },
    {
        "id": "ae0a33f4d706def0",
        "type": "mqtt out",
        "z": "560e5180a2b6cd09",
        "name": "",
        "topic": "ADJUSTMENTS_CF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e76f813d5b7439c",
        "x": 940,
        "y": 860,
        "wires": []
    },
    {
        "id": "dfcef0c42ee3104e",
        "type": "ui_dropdown",
        "z": "560e5180a2b6cd09",
        "name": "",
        "label": "Presets",
        "tooltip": "",
        "place": "Select option",
        "group": "c04b9a6970d08c7e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Panadol",
                "value": "panadol",
                "type": "str"
            },
            {
                "label": "Citrocin",
                "value": "pitrocin",
                "type": "str"
            },
            {
                "label": "Metformin",
                "value": "metformin",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 780,
        "wires": [
            [
                "01a6a59acf61238d",
                "3a558dd6fe1d08c5"
            ]
        ]
    },
    {
        "id": "deaec2dfc0d3eab6",
        "type": "ui_slider",
        "z": "560e5180a2b6cd09",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "c04b9a6970d08c7e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 660,
        "y": 780,
        "wires": [
            [
                "cf6bf63ada93308d"
            ]
        ]
    },
    {
        "id": "d82aed68833650da",
        "type": "ui_slider",
        "z": "560e5180a2b6cd09",
        "name": "",
        "label": "Controlling factor",
        "tooltip": "",
        "group": "c04b9a6970d08c7e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 690,
        "y": 860,
        "wires": [
            [
                "ae0a33f4d706def0"
            ]
        ]
    },
    {
        "id": "bef95da2e7145510",
        "type": "ui_gauge",
        "z": "560e5180a2b6cd09",
        "name": "",
        "group": "c5baaca77e19c579",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Max Light",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 240,
        "wires": []
    },
    {
        "id": "1fa27afec0ac2cf4",
        "type": "ui_gauge",
        "z": "560e5180a2b6cd09",
        "name": "",
        "group": "463765a4e9be0766",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "260681b1c1df1bd4",
        "type": "ui_chart",
        "z": "560e5180a2b6cd09",
        "name": "",
        "group": "c5baaca77e19c579",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "67c6d86c933cdcb2",
        "type": "ui_chart",
        "z": "560e5180a2b6cd09",
        "name": "",
        "group": "c5baaca77e19c579",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "bcae5c855a19339d",
        "type": "ui_chart",
        "z": "560e5180a2b6cd09",
        "name": "",
        "group": "463765a4e9be0766",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "c6b4b5741bebf247",
        "type": "ui_spacer",
        "z": "560e5180a2b6cd09",
        "name": "spacer",
        "group": "c5baaca77e19c579",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "c50d20f4575ad780",
        "type": "ui_spacer",
        "z": "560e5180a2b6cd09",
        "name": "spacer",
        "group": "c5baaca77e19c579",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "aeac88a1e8150926",
        "type": "ui_spacer",
        "z": "560e5180a2b6cd09",
        "name": "spacer",
        "group": "c5baaca77e19c579",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "420741eba3458a23",
        "type": "ui_spacer",
        "z": "560e5180a2b6cd09",
        "name": "spacer",
        "group": "463765a4e9be0766",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "2e76f813d5b7439c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c04b9a6970d08c7e",
        "type": "ui_group",
        "name": "Servo control",
        "tab": "cac8bdc0482036e8",
        "order": 3,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5baaca77e19c579",
        "type": "ui_group",
        "name": "Light",
        "tab": "cac8bdc0482036e8",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "463765a4e9be0766",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "cac8bdc0482036e8",
        "order": 2,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cac8bdc0482036e8",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]